<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 注入hibernate校验对象 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <!-- 声明验证的提供者是Hibernate-->
        <property name="providerClass"
                  value="org.hibernate.validator.HibernateValidator">
        </property>
    </bean>

    <!-- 声明注解-->
    <mvc:annotation-driven validator="validator"/>
    <!-- 注解扫描基础包-->
    <context:component-scan base-package="com.lanou"/>
    <!-- 将静态资源处理交给web服务器自己处理 ,springmvc不处理-->
    <mvc:default-servlet-handler/>
    <!-- 配置静态资源对应的路径,告诉springmvc不用处理这些路径 -->
    <mvc:resources mapping="js/**" location="/js/"/>
    <mvc:resources mapping="images/**" location="/images/"/>
    <mvc:resources mapping="css/**" location="/css/"/>
    <!-- 配置视图解析的规则 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 视图处理类-->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <!-- 视图解析前缀 -->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!-- 视图解析后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- 拦截器执行的顺序依照下面的顺序执行 -->
        <mvc:interceptor>
            <!-- 要拦截的请求路径 -->
            <mvc:mapping path="/**"/>
            <!-- 拦截器所对应的类路径 -->
            <bean class="com.lanou.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>